workflows/[AI.T][DISPARADOR] - ODONTO.json
{
  "active": false,
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Gerar número2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Nenhuma operação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Tabela": {
      "main": [
        [
          {
            "node": "Dados Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Leads": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza Tabela2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop mensagens": {
      "main": [
        [
          {
            "node": "Atualiza Tabela2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar número2": {
      "main": [
        [
          {
            "node": "Delay1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Dados Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Tabela2": {
      "main": [
        [
          {
            "node": "Dados Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop mensagens",
            "type": "main",
            "index": 0
          },
          {
            "node": "Atualiza Tabela",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-11T23:59:01.009Z",
  "id": "dH2FzXuvV42LVA2e",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[AI.T][DISPARADOR] - ODONTO",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "14c51024-a508-47cd-af23-21fc3ca4f3fb",
              "leftValue": "={{ $('Loop Over Items').item.json.Enviar }}",
              "rightValue": "=1",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -860,
        -280
      ],
      "id": "9a3ab0fb-9043-45d5-9c09-e63638e0be55",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1540,
        -260
      ],
      "id": "9e1da073-1043-4e36-8ef9-3a697356fc3c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        -280,
        -80
      ],
      "id": "2aa82e82-fb63-4270-89e8-7fe802919948",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "MgUovUkOF1DLLH9r",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \t\"numero\": \"numero de telefone aqui\",\n    \"originalPhone\": \"numero de telefone original\",\n\t\"text\": \"mensagem enviada aqui\",\n  \"url\": \"link\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -80,
        -80
      ],
      "id": "a2356182-49ce-4cfa-8340-79274a2230fe",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        320,
        -280
      ],
      "id": "3f7fd9cf-f7b2-497a-ae65-fdf7b6f6e47d",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ETKAj8mWuw4WDO0CQLzXBeDUW58KqiR67WfzRW4yJoA",
          "mode": "list",
          "cachedResultName": "DISPARADOR_WHATSAPP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ETKAj8mWuw4WDO0CQLzXBeDUW58KqiR67WfzRW4yJoA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 20437805,
          "mode": "list",
          "cachedResultName": "ODONTO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ETKAj8mWuw4WDO0CQLzXBeDUW58KqiR67WfzRW4yJoA/edit#gid=20437805"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $('Edit Fields1').item.json.originalPhone }}",
            "Enviar": "FALSE"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Services",
              "displayName": "Services",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Enviar",
              "displayName": "Enviar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1340,
        -20
      ],
      "id": "22d6f542-d780-4805-b3c9-1b52082a0297",
      "name": "Atualiza Tabela",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dj6DR5Chb0xYbnqN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<CONTATO>{{ $('If').item.json.contato }}</CONTATO>\n\n<EXEMPLO> Olá! Falo com {{ $('Loop Over Items').item.json.Nome.split(' ')[0] }}?\n\nVocê sabia que é possível automatizar o WhatsApp da sua clínica pra responder pacientes, marcar consultas e organizar tudo com IA, sem perder o toque humano? Posso te mostrar como funciona?\n\nMande uma mensagem por vez!\n\nSe o campo Loop Over Items estiver vazio, mande só olá!\n\ntelefoneOriginal: {{ $('If').item.json.originalPhone }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é uma assistente comercial e a sua função é mandar uma mensagem de whatsapp.\n\nA mensagem deve ser no modelo acima"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -280,
        -280
      ],
      "id": "3bf643b7-df9d-4e70-b0bb-32eaa4572b22",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ETKAj8mWuw4WDO0CQLzXBeDUW58KqiR67WfzRW4yJoA",
          "mode": "list",
          "cachedResultName": "DISPARADOR_WHATSAPP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ETKAj8mWuw4WDO0CQLzXBeDUW58KqiR67WfzRW4yJoA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 20437805,
          "mode": "list",
          "cachedResultName": "ODONTO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ETKAj8mWuw4WDO0CQLzXBeDUW58KqiR67WfzRW4yJoA/edit#gid=20437805"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1780,
        -260
      ],
      "id": "c0b35b2a-2c8c-42b8-82a7-7a809e34def6",
      "name": "Dados Leads",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dj6DR5Chb0xYbnqN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -700,
        -580
      ],
      "id": "95bad0d2-e941-4d93-8c12-256ac5af9fff",
      "name": "Nenhuma operação"
    },
    {
      "parameters": {
        "content": "## End\n****",
        "height": 240,
        "width": 380,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -840,
        -640
      ],
      "id": "cf2c0ce1-27c1-4f94-a680-da007533b794",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14c8c098-ce7d-44f4-9ae0-5f6273bf1b43",
              "name": "text",
              "value": "={{ $json.output.text.split('\\n\\n') }}",
              "type": "array"
            },
            {
              "id": "a3cb0f7c-f455-4165-b8cc-375d4320a037",
              "name": "numero",
              "value": "={{ $('AI Agent').item.json.output.numero }}",
              "type": "string"
            },
            {
              "id": "adf512a2-60c8-4e62-acf6-7375bf4299cc",
              "name": "originalPhone",
              "value": "={{ $json.output.originalPhone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120,
        -280
      ],
      "id": "b0ebcc6e-e68c-4c18-b9e1-e75a3bfdb6de",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n    // 1. Captura o telefone original\n    const originalPhone = item.json.phone || \"\";\n\n    // 2. Remove tudo que não for dígito\n    let contato = originalPhone.replace(/\\D/g, \"\");\n\n    // 3. Se tiver 11 dígitos, adiciona \"55\" no começo\n    if (contato.length === 11) {\n        contato = \"55\" + contato;\n    }\n\n    // 4. Verifica se possui exatamente 13 dígitos\n    const isValid = /^\\d{13}$/.test(contato);\n\n    // 5. Retorna o telefone original, o número ajustado e se é válido\n    return {\n        json: {\n            originalPhone,\n            contato,\n            valido: isValid\n        }\n    };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1300,
        -240
      ],
      "id": "978b229d-dc1f-4f0f-ab04-5b361f169b80",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "53525ae6-7d8e-4a2a-ad50-57da6e042ee0",
              "leftValue": "={{ $json.valido }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1080,
        -240
      ],
      "id": "096d04c7-7762-4bb2-822b-d74aac92a6bc",
      "name": "If1"
    },
    {
      "parameters": {
        "content": "## Disparador",
        "height": 1000,
        "width": 3880,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2340,
        -760
      ],
      "id": "0dd4925d-cde9-4fff-9d94-20cb5550d65a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Workflow Trigger\n**Acionar Fluxo**",
        "height": 440,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2080,
        -380
      ],
      "id": "5c69157e-e933-450b-a84b-a5813d271d43",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "SKYNET",
        "remoteJid": "={{ $('Edit Fields1').item.json.numero }}",
        "messageText": "={{ $json.text }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        900,
        -280
      ],
      "id": "43ee0393-7b08-4a02-a66a-3be8eb393d53",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "TYMFez7AZEmuKDhe",
          "name": "Evolution TALOS"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $('Loop mensagens').context.done}}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        540,
        -280
      ],
      "id": "3f357c47-1399-4099-84fe-f9cef88caa5c",
      "name": "Loop mensagens"
    },
    {
      "parameters": {
        "amount": "={{ $item(\"0\").$node[\"Gerar número2\"].json[\"randomNumber\"] }}",
        "unit": "minutes"
      },
      "id": "7825c7bc-07bd-4c37-8483-640a82f3b783",
      "name": "Delay1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -460,
        -280
      ],
      "webhookId": "4a497d97-89a9-4348-92de-91355d008998"
    },
    {
      "parameters": {
        "jsCode": "// Executa o código de geração do número aleatório\nconst min = 10;\nconst max = 8;\nconst randomNumber = Math.floor(Math.random() * (max - min + 1)) + min;\n\n// Retorna o valor em um array de objetos com a propriedade \"json\"\nreturn [\n  {\n    json: {\n      randomNumber: randomNumber,\n    },\n  },\n];"
      },
      "id": "2eb6b3e9-983d-4249-9161-755a2ca3e367",
      "name": "Gerar número2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -660,
        -280
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1980,
        -260
      ],
      "id": "16eb663d-1032-4a44-977c-20f65fb9ab1d",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ETKAj8mWuw4WDO0CQLzXBeDUW58KqiR67WfzRW4yJoA",
          "mode": "list",
          "cachedResultName": "DISPARADOR_WHATSAPP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ETKAj8mWuw4WDO0CQLzXBeDUW58KqiR67WfzRW4yJoA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 20437805,
          "mode": "list",
          "cachedResultName": "ODONTO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ETKAj8mWuw4WDO0CQLzXBeDUW58KqiR67WfzRW4yJoA/edit#gid=20437805"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $('Edit Fields1').item.json.originalPhone }}",
            "Enviar": "FALSE"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Services",
              "displayName": "Services",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Enviar",
              "displayName": "Enviar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -840,
        -100
      ],
      "id": "fdf6172e-b6c7-4b0c-aff7-a37473e6f39e",
      "name": "Atualiza Tabela2",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dj6DR5Chb0xYbnqN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1160,
        -200
      ],
      "id": "5ef215ea-ab30-4b28-83d8-b702fcfecb2d",
      "name": "Wait",
      "webhookId": "bcb5b9cf-c255-4308-819f-f8772d52dd98"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-12T21:22:09.247Z",
  "versionId": "770aebf8-7b91-4dd2-bc68-f9695e13c478"
}