workflows/[AI.T][DISPARADOR] - ANDERSON.json
{
  "active": false,
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Atualizar Status3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pegar lista de leads1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pegar mensagem1": {
      "main": [
        [
          {
            "node": "Atualizar Status2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay1": {
      "main": [
        []
      ]
    },
    "Verificar Status1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gerar número2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensagem ": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados1": {
      "main": [
        [
          {
            "node": "Pegar mensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensagem 3": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Status2": {
      "main": [
        [
          {
            "node": "Pegar lista de leads1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Active1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar número2": {
      "main": [
        [
          {
            "node": "Delay1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar número3": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Mensagem 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API": {
      "main": [
        [
          {
            "node": "Atualizar Active1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atendente1": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Atendente1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Enviar Mensagem ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-30T13:36:35.937Z",
  "id": "qDEPIyytHcruL6Nz",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[AI.T][DISPARADOR] - ANDERSON",
  "nodes": [
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "1e401791-4259-80f9-b7a1-d0185aa77e23",
          "mode": "list",
          "cachedResultName": "CRM para WhatsApp",
          "cachedResultUrl": "https://www.notion.so/1e401791425980f9b7a1d0185aa77e23"
        },
        "title": "={{ $('Verificar Status1').item.json.name }} + {{ $json.tel }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Nome|rich_text",
              "textContent": "={{ $('Verificar Status1').item.json.name }}"
            },
            {
              "key": "Em atendimento|checkbox",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        3320,
        1440
      ],
      "id": "7a309868-9447-4cec-96d6-eaed03aa7088",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "j4JhdtGWgufj9rxT",
          "name": "SKYNET N8N"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e3680f3e-5a0d-44f5-a680-e335074041c6",
              "leftValue": "={{ $json.active }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3060,
        1580
      ],
      "id": "9b6edb27-4645-42ff-bf8d-31e5c3b3e505",
      "name": "If"
    },
    {
      "parameters": {
        "content": "",
        "height": 740,
        "width": 2940,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        660,
        1060
      ],
      "typeVersion": 1,
      "id": "ddde0b5f-30e7-47cb-94cf-1ef799c9713c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# DISPARADOR",
        "height": 80,
        "width": 256,
        "color": 5
      },
      "id": "72d9a38a-cdc1-47bb-8845-2752436af31c",
      "name": "Sticky Note69",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        1080
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "82168569-991d-4ff8-b160-318005492cbd",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2020,
        1120
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WbnTpLlkZiJ840i7xFq9OriTHAkttyvVge5TPvw78Vw",
          "mode": "list",
          "cachedResultName": "DISPARADOR - WHATSAPP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WbnTpLlkZiJ840i7xFq9OriTHAkttyvVge5TPvw78Vw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1808756491,
          "mode": "list",
          "cachedResultName": "Cópia de NUMEROS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WbnTpLlkZiJ840i7xFq9OriTHAkttyvVge5TPvw78Vw/edit#gid=1808756491"
        },
        "options": {}
      },
      "id": "8524937c-df04-4111-b993-a068ed1cf94e",
      "name": "Pegar lista de leads1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1800,
        1120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dj6DR5Chb0xYbnqN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WbnTpLlkZiJ840i7xFq9OriTHAkttyvVge5TPvw78Vw",
          "mode": "list",
          "cachedResultName": "DISPARADOR - WHATSAPP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WbnTpLlkZiJ840i7xFq9OriTHAkttyvVge5TPvw78Vw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "MENSAGEIRO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WbnTpLlkZiJ840i7xFq9OriTHAkttyvVge5TPvw78Vw/edit#gid=0"
        },
        "options": {}
      },
      "id": "a7255cb9-0468-46cb-a655-e80b9a9ae808",
      "name": "Pegar mensagem1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1420,
        1120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dj6DR5Chb0xYbnqN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ $item(\"0\").$node[\"Gerar número2\"].json[\"randomNumber\"] }}",
        "unit": "minutes"
      },
      "id": "34d4e733-bec0-420f-8806-441084f716eb",
      "name": "Delay1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1240,
        1400
      ],
      "webhookId": "b10f2338-86d1-4a16-b45c-14513cad6551"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "0c5f5f0f-7d04-439a-8b31-6e7ff7fd7345",
              "leftValue": "={{ $json.active }}",
              "rightValue": "\"true\"",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1d122f92-e35c-49fe-8f50-9817a3e40567",
      "name": "Verificar Status1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2380,
        1160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url_motada }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Dados1').item.json.api_key1 }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Pegar lista de leads1').item.json.tel }}\",\n  \"text\": \"Olá, {{ $('Verificar Status1').item.json.name }}! {{ $('Atendente1').item.json.output }}\"\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "ba04d5a5-833c-40c6-97ce-25aea29e069f",
      "name": "Enviar Mensagem ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2520,
        1380
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f32f35f-e985-47e0-be28-f6959d9844a9",
              "name": "api_url",
              "value": "https://api.agenciatalos.com.br/",
              "type": "string"
            },
            {
              "id": "4291ce09-2085-4137-b13e-37949e349c36",
              "name": "api_instance1",
              "value": "Sofia",
              "type": "string"
            },
            {
              "id": "4331c9c5-4713-4c11-8c08-c703e2c63332",
              "name": "api_key1",
              "value": "1DB3F89A828B-4C36-A62E-8780F1C7A527",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "15f593d5-41be-4026-a321-9acf103fc66c",
      "name": "Dados1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1220,
        1120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados1').item.json.api_url }}/message/sendText/{{ $('Dados1').item.json.api_instance2 }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Dados1').item.json.api_key2 }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Pegar lista de leads1').item.json.tel }}\",\n    \"text\": \"{{ $('OpenAI2').item.json.message.content }}\"\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "ade965bf-0551-4a6d-b1c6-f331b262b098",
      "name": "Enviar Mensagem 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2540,
        1560
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WbnTpLlkZiJ840i7xFq9OriTHAkttyvVge5TPvw78Vw",
          "mode": "list",
          "cachedResultName": "DISPARADOR - WHATSAPP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WbnTpLlkZiJ840i7xFq9OriTHAkttyvVge5TPvw78Vw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "MENSAGEIRO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1es4TCZ7gYTZh2YX7pifixqyjTGxiXOug4WiRa-P72V4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Pegar mensagem1').item.json.row_number }}",
            "STATUS": "Disparando"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "MENSAGEM",
              "displayName": "MENSAGEM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "c5973b9a-7e03-489b-bbb8-a4f8ef88098c",
      "name": "Atualizar Status2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1620,
        1120
      ],
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dj6DR5Chb0xYbnqN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WbnTpLlkZiJ840i7xFq9OriTHAkttyvVge5TPvw78Vw",
          "mode": "list",
          "cachedResultName": "DISPARADOR - WHATSAPP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WbnTpLlkZiJ840i7xFq9OriTHAkttyvVge5TPvw78Vw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "MENSAGEIRO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WbnTpLlkZiJ840i7xFq9OriTHAkttyvVge5TPvw78Vw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "STATUS": "Finalizado",
            "row_number": "={{ $('Pegar mensagem1').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "MENSAGEM",
              "displayName": "MENSAGEM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "07b49c89-9ff5-4b53-b7ec-7ef9c49d274a",
      "name": "Atualizar Status3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        2740,
        1100
      ],
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dj6DR5Chb0xYbnqN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WbnTpLlkZiJ840i7xFq9OriTHAkttyvVge5TPvw78Vw",
          "mode": "list",
          "cachedResultName": "DISPARADOR - WHATSAPP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WbnTpLlkZiJ840i7xFq9OriTHAkttyvVge5TPvw78Vw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1808756491,
          "mode": "list",
          "cachedResultName": "Cópia de NUMEROS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WbnTpLlkZiJ840i7xFq9OriTHAkttyvVge5TPvw78Vw/edit#gid=1808756491"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "active": "=true",
            "row_number": "={{ $('Pegar lista de leads1').item.json.row_number }}",
            "tel": "={{ $('Pegar lista de leads1').item.json.tel }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "tel",
              "displayName": "tel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "active",
              "displayName": "active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "de77690b-7468-49db-a1b2-bdfb1ee6843f",
      "name": "Atualizar Active1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        2860,
        1580
      ],
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dj6DR5Chb0xYbnqN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Executa o código de geração do número aleatório\nconst min = 15;\nconst max = 20;\nconst randomNumber = Math.floor(Math.random() * (max - min + 1)) + min;\n\n// Retorna o valor em um array de objetos com a propriedade \"json\"\nreturn [\n  {\n    json: {\n      randomNumber: randomNumber,\n    },\n  },\n];"
      },
      "id": "4016c77e-54ff-487c-8f00-0f020e6eb60c",
      "name": "Gerar número2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        1400
      ]
    },
    {
      "parameters": {
        "jsCode": "randomNumber = Math.floor(Math.random() * 1) + 1;\n\nreturn [\n  {\n    json: {\n      randomNumber: randomNumber\n    }\n  }\n]"
      },
      "id": "7382b47e-2dd3-4456-b279-6007cc12315c",
      "name": "Gerar número3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        1420
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.randomNumber }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instancia 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f6145ca8-af77-489d-8abe-92f995e4e453",
                    "leftValue": "={{ $json.randomNumber }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instancia 2"
            }
          ]
        },
        "options": {}
      },
      "id": "fb063ed6-c221-4754-bdff-7a8382629589",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2000,
        1420
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "43 12 * * 1-6"
            }
          ]
        }
      },
      "id": "2220cd28-6527-43df-89d0-e195cbb5cbc2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1040,
        1120
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Sofia",
        "remoteJid": "={{ $('Verificar Status1').item.json.tel }}",
        "messageText": "=",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2900,
        1360
      ],
      "id": "7e7509d0-08c3-4dfe-8d89-e48ea3ca8568",
      "name": "Evolution API",
      "alwaysOutputData": false,
      "credentials": {
        "evolutionApi": {
          "id": "TYMFez7AZEmuKDhe",
          "name": "Evolution TALOS"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Envie essa mansagem:\n\nRecebi uma indicação para te apresentar nosso sistema de WhatsApp com Inteligência Artificial advogados. Podemos conversar rapidinho?",
        "options": {
          "systemMessage": "=Me da a resposta sem dicas de uso ou textos adicionais"
        }
      },
      "id": "d694c900-42ea-42f7-883a-b5f058d1d71b",
      "name": "Atendente1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1420,
        1420
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1400,
        1560
      ],
      "id": "50c72aec-1989-4ecd-8b6e-8fd48a838373",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "MgUovUkOF1DLLH9r",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "042528b4-d074-418e-98e7-0e3f007f3430",
              "name": "url_motada",
              "value": "={{ $('Dados1').item.json.api_url.replace(/\\/$/, '') }}/message/sendText/{{ $('Dados1').item.json.api_instance1 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2320,
        1360
      ],
      "id": "2879dce3-a706-48e1-8024-93b7f5a1d8f8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.randomNumber }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instancia 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f6145ca8-af77-489d-8abe-92f995e4e453",
                    "leftValue": "={{ $json.randomNumber }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instancia 2"
            }
          ]
        },
        "options": {}
      },
      "id": "6e5ea8d6-d94d-4e4b-be80-ab2f1e9ea0c6",
      "name": "Switch8",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2040,
        1580
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      message: \"Olá, {{ $('Pegar lista de leads1').item.json.name }}! Como vai? Recebi uma indicação sobre você e achei que seria interessante te apresentar nosso sistema de atendimento com Inteligência Artificial, especialmente desenvolvido para escritórios de advocacia. Podemos conversar um pouquinho?\"\n    }\n  },\n  {\n    json: {\n      message: \"Oi, {{ $('Pegar lista de leads1').item.json.name }}! Tudo bem? Peguei seu contato por indicação e gostaria de te mostrar uma solução com IA que pode agilizar muito a rotina do seu escritório. Podemos conversar por um minuto?\"\n    }\n  },\n  {\n    json: {\n      message: \"Oi, {{ $('Pegar lista de leads1').item.json.name }}! Como você está? Recebi uma indicação sua e quero te mostrar como nossa Inteligência Artificial pode otimizar o atendimento do seu escritório de forma rápida e prática. Que tal um bate-papo?\"\n    }\n  }\n];"
      },
      "id": "2e529fa9-f51b-48c7-9c39-c392aded9fcb",
      "name": "Gerar Mensagem1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        1600
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger3": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-08T18:49:34.417Z",
  "versionId": "8029a0f9-de08-43e6-921d-14c006fa168c"
}