workflows/[AI.T][DISPARADOR] - ODONTO.json
{
  "active": false,
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Nenhuma operação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gerar número2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Tabela": {
      "main": [
        [
          {
            "node": "Dados Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Leads": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Loop mensagens": {
      "main": [
        [
          {
            "node": "Atualiza Tabela2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API": {
      "main": [
        [
          {
            "node": "Atualiza Tabela",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza Tabela2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar número2": {
      "main": [
        [
          {
            "node": "Delay1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Dados Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Tabela2": {
      "main": [
        [
          {
            "node": "Dados Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-11T23:59:01.009Z",
  "id": "dH2FzXuvV42LVA2e",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[AI.T][DISPARADOR] - ODONTO",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "14c51024-a508-47cd-af23-21fc3ca4f3fb",
              "leftValue": "={{ $('Loop Over Items').item.json.Enviar }}",
              "rightValue": "=1",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        940,
        540
      ],
      "id": "1c7e80db-786b-4ba3-bb26-4a816fc3783d",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        260,
        560
      ],
      "id": "fbe4c62f-b904-43dd-a469-06b72ce0c38f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        1520,
        740
      ],
      "id": "0ffcb609-2314-4ce6-ac7f-53c027acbdf1",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "MgUovUkOF1DLLH9r",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \t\"numero\": \"numero de telefone aqui\",\n    \"originalPhone\": \"numero de telefone original\",\n\t\"text\": \"mensagem enviada aqui\",\n  \"url\": \"link\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1720,
        740
      ],
      "id": "465235bb-68fd-4e96-bf77-320e08b8e2cf",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2120,
        540
      ],
      "id": "d9983588-5e9d-4b24-86da-7200854104ce",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1QFkfnbkQJRF8yMhV40giQQD7o4HUBILvTPI7KuN6zaI",
          "mode": "list",
          "cachedResultName": "TESTE01",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QFkfnbkQJRF8yMhV40giQQD7o4HUBILvTPI7KuN6zaI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Folha1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QFkfnbkQJRF8yMhV40giQQD7o4HUBILvTPI7KuN6zaI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $('Edit Fields1').item.json.originalPhone }}",
            "Enviar": "FALSE"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Services",
              "displayName": "Services",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Enviar",
              "displayName": "Enviar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3080,
        800
      ],
      "id": "e6939630-1e0b-40b5-bf37-01f695fc1cbf",
      "name": "Atualiza Tabela",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dj6DR5Chb0xYbnqN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<CONTATO>{{ $('If').item.json.contato }}</CONTATO>\n\n<EXEMPLO> Olá!?\n\ntelefoneOriginal: {{ $('If').item.json.originalPhone }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é uma assistente comercial e a sua função é criar uma mensagem de whatsapp personalisada para o potencial Lead.\n\nA mensagem deve ser no modelo acima"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1520,
        540
      ],
      "id": "d202be24-02c8-40d8-86c3-5e3f4a38e651",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QFkfnbkQJRF8yMhV40giQQD7o4HUBILvTPI7KuN6zaI",
          "mode": "list",
          "cachedResultName": "TESTE01",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QFkfnbkQJRF8yMhV40giQQD7o4HUBILvTPI7KuN6zaI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Folha1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QFkfnbkQJRF8yMhV40giQQD7o4HUBILvTPI7KuN6zaI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        20,
        560
      ],
      "id": "673d835a-06bd-475b-b66d-0cdaf1cc06d5",
      "name": "Dados Leads",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dj6DR5Chb0xYbnqN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1100,
        240
      ],
      "id": "3931fd0f-06ab-4409-9a45-156aca5e6cab",
      "name": "Nenhuma operação"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.eliteaisolutions.com.br/message/sendText/elite",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "87EBCF207A9F-4B27-B1DB-742F62F4E56C"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Edit Fields1').item.json.numero }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        220
      ],
      "id": "cc2568d3-769c-4acd-ae08-82a7d6dae7e1",
      "name": "Evolution",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## End\n****",
        "height": 240,
        "width": 380,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        180
      ],
      "id": "fe0b2228-9509-4a6e-9a18-010dc01fc056",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14c8c098-ce7d-44f4-9ae0-5f6273bf1b43",
              "name": "text",
              "value": "={{ $json.output.text.split('\\n\\n') }}",
              "type": "array"
            },
            {
              "id": "a3cb0f7c-f455-4165-b8cc-375d4320a037",
              "name": "numero",
              "value": "={{ $('AI Agent').item.json.output.numero }}",
              "type": "string"
            },
            {
              "id": "adf512a2-60c8-4e62-acf6-7375bf4299cc",
              "name": "originalPhone",
              "value": "={{ $json.output.originalPhone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        540
      ],
      "id": "be36b28e-93ad-43ce-88a9-7dacd033d12f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n    // 1. Captura o telefone original\n    const originalPhone = item.json.phone || \"\";\n\n    // 2. Remove tudo que não for dígito\n    let contato = originalPhone.replace(/\\D/g, \"\");\n\n    // 3. Se tiver 11 dígitos, adiciona \"55\" no começo\n    if (contato.length === 11) {\n        contato = \"55\" + contato;\n    }\n\n    // 4. Verifica se possui exatamente 13 dígitos\n    const isValid = /^\\d{13}$/.test(contato);\n\n    // 5. Retorna o telefone original, o número ajustado e se é válido\n    return {\n        json: {\n            originalPhone,\n            contato,\n            valido: isValid\n        }\n    };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        580
      ],
      "id": "3d6a575e-5bb0-417f-a8ee-e89c38e6e8bb",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "53525ae6-7d8e-4a2a-ad50-57da6e042ee0",
              "leftValue": "={{ $json.valido }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        580
      ],
      "id": "99c9a595-b26f-481c-8992-c91d3de05979",
      "name": "If1"
    },
    {
      "parameters": {
        "content": "## Disparador",
        "height": 1000,
        "width": 3880,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -540,
        60
      ],
      "id": "efcf4caf-9418-4d6e-8722-673f808daccc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Workflow Trigger\n**Acionar Fluxo**",
        "height": 440,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -280,
        440
      ],
      "id": "93fd3239-8b6b-4d83-84fe-3a1363d572e6",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "SKYNET",
        "remoteJid": "={{ $('Edit Fields1').item.json.numero }}",
        "messageText": "={{ $json.text }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2700,
        540
      ],
      "id": "9d1da473-d0ac-41c6-af0d-dbbe0ee160d0",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "TYMFez7AZEmuKDhe",
          "name": "Evolution TALOS"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $('Loop mensagens').context.done}}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2340,
        540
      ],
      "id": "4ec4b9d5-83e9-441a-80e5-a86ab6c8473b",
      "name": "Loop mensagens"
    },
    {
      "parameters": {
        "amount": "={{ $item(\"0\").$node[\"Gerar número2\"].json[\"randomNumber\"] }}"
      },
      "id": "f2f58753-d11e-4d8e-b10d-5f085168f607",
      "name": "Delay1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1360,
        540
      ],
      "webhookId": "ca9fff6a-e5c2-4f09-964d-595db51ff1e0"
    },
    {
      "parameters": {
        "jsCode": "// Executa o código de geração do número aleatório\nconst min = 10;\nconst max = 8;\nconst randomNumber = Math.floor(Math.random() * (max - min + 1)) + min;\n\n// Retorna o valor em um array de objetos com a propriedade \"json\"\nreturn [\n  {\n    json: {\n      randomNumber: randomNumber,\n    },\n  },\n];"
      },
      "id": "b24ed4cb-4cf3-4cc3-8b56-5e780dc6dcd6",
      "name": "Gerar número2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        540
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -180,
        560
      ],
      "id": "e3060382-6809-4a5a-b8bd-14307dcabfe2",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1QFkfnbkQJRF8yMhV40giQQD7o4HUBILvTPI7KuN6zaI",
          "mode": "list",
          "cachedResultName": "TESTE01",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QFkfnbkQJRF8yMhV40giQQD7o4HUBILvTPI7KuN6zaI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Folha1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QFkfnbkQJRF8yMhV40giQQD7o4HUBILvTPI7KuN6zaI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $('Edit Fields1').item.json.originalPhone }}",
            "Enviar": "FALSE"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Services",
              "displayName": "Services",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Enviar",
              "displayName": "Enviar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        960,
        720
      ],
      "id": "8cf246b7-6612-479c-b70c-37540a560c70",
      "name": "Atualiza Tabela2",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dj6DR5Chb0xYbnqN",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-11T23:59:15.813Z",
  "versionId": "e01e2dc9-5d06-4e84-8b1f-df806a4cee09"
}