workflows/[IA.TALOS][BACKUP_GERAL].json
{
  "active": true,
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-08T22:27:20.668Z",
  "id": "IGdzOZ5y2wfkg9UW",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[IA.TALOS][BACKUP_GERAL]",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "af09f088-dabf-4479-b79e-df7476e624b9",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        -560,
        100
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "8a9ecd4f-295c-47a3-b010-2063e8563b1a",
      "credentials": {
        "githubOAuth2Api": {
          "id": "iAugkhMjSUT141Zl",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "1f04d846-43a5-4e34-817d-556aa6bd7e52",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        320,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "284a9a39-715e-4775-9fe9-e5a2639349c8",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        560,
        40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "7d9677c4-92ce-4ffd-96dd-b1dfc8d6c938",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        560,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "01639353-5c40-41e8-b8d9-2871bd5d650a",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        560,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "618f50ef-ef86-4e31-9b7d-09e97f6f8f55",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        740,
        240
      ],
      "typeVersion": 1,
      "webhookId": "d082f4b7-4e27-4703-aa26-ecb9503cf5d4",
      "credentials": {
        "githubOAuth2Api": {
          "id": "iAugkhMjSUT141Zl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "fa54a933-ce70-4c25-a4f3-e9f3d288ebac",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        740,
        420
      ],
      "typeVersion": 1,
      "webhookId": "3dabbf6a-8003-4b3d-8662-5b6b9e1d966f",
      "credentials": {
        "githubOAuth2Api": {
          "id": "iAugkhMjSUT141Zl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "f2089b91-10ce-4235-8825-58399dcdd1c4",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -780,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "ohigorsantana"
            },
            {
              "name": "repo.name",
              "value": "backup-ai.talos"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "d8592ce8-768a-43e0-979d-fc2a4023ae8e",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        -1220,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# SALVAMENTO",
        "height": 954,
        "width": 766,
        "color": 4
      },
      "id": "1fab70ca-5a29-473c-9133-c96e604b7ac8",
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        -160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "bab1a81a-7cf9-4376-8fc1-46242f53fc50",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -1020,
        260
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "sa5owgWLaKblVxfS",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "e32611a3-c555-40c3-8e02-429b547dbc38",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        -160,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "88e745f2-cb77-4ad5-8ab3-1a625424e4a9",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -340,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "d722ff47-34aa-448f-a8a7-dc83da2ab1e6",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1400,
        260
      ]
    },
    {
      "parameters": {
        "content": "# Loop",
        "height": 564,
        "width": 955
      },
      "id": "9236810f-5e59-404d-a75a-fa70440962c7",
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        -60
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-08T22:37:30.468Z",
  "versionId": "08227513-6f73-4cde-b1b3-e0bbad639768"
}